@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color:powderblue;
  width: 100%;
}

h1 {
  font-family: 'Rampart One', cursive;
  font-size: 4rem;
}

table {
  margin:auto;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
  background-color: #AAF;
}

.top {
  margin: 0 auto 10px auto;
  padding-bottom: 10px;
}

.top > * {
  margin: auto;
  text-align: center;
}

.inputContainer {
  width: 45%;
  display: inline-block;
}

.top input{
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  border: solid rgb(129, 152, 182) 2px;
  border-radius: 10px 0 0 10px;
  border-right:0;
  text-align: center;
}


.copyButton {
  width: 15%;
  text-align: center;
  margin:0 auto;
  cursor: pointer;
  font-size: 20px;

  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  /*background-color: rgba(76, 76, 255, 0.3);*/
  background-color: #EEE;
  display: inline;
  border: solid rgb(129, 152, 182) 2px;
  border-left: 0;

}

.copyButton:hover {
  background-color: rgba(193, 255, 218, 0.3);
  transition: 0.2s;
}

.justCopied {
  color: #ffffff !important;
  font-family: Courier !important;
  background-color: #BBE;
}

td {
  padding:10px 15px;
  border:solid red 1px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 24px;
  background: #ffc4c4;
  background: linear-gradient(90deg,#ffc4c4 0%, #c2ffc2 80%);
  background: -webkit-linear-gradient(90deg,#ffc4c4 0%, #c2ffc2 80%);
  background: -moz-linear-gradient(90deg,#ffc4c4 0%, #c2ffc2 80%);
  opacity: 1;
  transition: opacity 0.5s;
}

.nametag {
  position: absolute;
  right: 25px;
  top: 25px;
}

.nametag > a {
  text-decoration: none;
  font-weight: bold;
  color: #229;
}

.nametag > a:visited {
  color: #229;
}
